{% extends 'base.html' %}

{% block title %}
    <title>User Login</title>
{% endblock %}


{% block content %}
  <div class="container">
    {% if msg %}
      <div class="alert alert-success col-sm-7" role="alert" style="margin-left: 250px;">
          {{ msg }}
      </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger col-sm-7" role="alert" style="margin-left: 250px;">
          {{ error }}
      </div>
    {% endif %}
    <h2 style="text-align: center;margin-top: 30px; margin-bottom: 30px;">User Login</h2>
    <form action="/login" method="post">
        <div class="mb-3" style="margin-top: 20px; margin-left: 250px;">
          <label class="col-sm-2" for="email" required class="form-label"><b>Email address</b></label>
          <input class="col-sm-6" type="email" required class="form-control" name="email" placeholder="Enter email">
        </div>
        <div class="mb-3" style="margin-top: 20px; margin-left: 250px;">
          <label class="col-sm-2" for="password" required class="form-label"><b>Password</b></label>
          <input class="col-sm-6" type="password" required class="form-control" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-left: 600px;">Login</button>
    </form>
  </div>
{% endblock %}
