<div class="card text-blue" style="width: 18rem; margin-top: 20px;">
    <img src="https://www.transparentpng.com/thumb/email-logo/gmail-logo-png-UbCiBR.png" alt="bg image" style="opacity: 0.1; height: 13rem;">
    <div class="card-img-overlay">
        <br>
        <h5 class="card-title">Status: <span style="color: green;">{{ email.emailStatus }}</span></h5>
        <h5 class="card-title">Type: {{ email.emailType }}</h5>
        <br>
        <a href="/emaildata/{{email.id}}" class="btn btn-outline-info">Read More</a>
    </div>
</div>